# Compilación de C
*.o
*.out
*.exe
*.a
*.so
*.txt

# Imagenes
*.png

# Ejecutables del proyecto
TP_CRIPTO
stegobmp

# Archivos de respaldo y temporales
*~
*.bak
*.tmp
*.swp
*.swo

# Archivos generados por el sistema
.DS_Store
Thumbs.db

# Archivos de log o debugging
*.log
core
vgcore.*

# Archivos del editor (VSCode, CLion, etc.)
.vscode/
.idea/

# Archivos generados por make clean o distclean
build/

# Archivos de cátedra
ejemplos/
ejemplossinenc/